@model mvcProyectoWeb1.Models.Compra
@{
    ViewData["Title"] = "Editar Compra";
}

<br />
<h3 class="text-center">Editar Compra</h3>
<form method="post" asp-action="Edit">
    <div class="row px-2 offset-1 Border">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProveedorId"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProveedorId" class="form-control" />
                    <span asp-validation-for="ProveedorId" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductoId"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductoId" class="form-control" />
                    <span asp-validation-for="ProductoId" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Cantidad"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PrecioCompra"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PrecioCompra" class="form-control" />
                    <span asp-validation-for="PrecioCompra" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FechaCompra"></label>
                </div>
                <div class="col-8">
                    <input asp-for="FechaCompra" class="form-control" />
                    <span asp-validation-for="FechaCompra" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">
                        <i class="fa-solid fa-plus"></i>Editar Compra
                    </button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">
                        <i class="fa-solid fa-arrow-left"></i>Volver atrás
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
