@model mvcProyectoWeb1.Models.Proveedor
@{
    ViewData["Title"] = "Editar Proveedor";
}

<br />
<h3 class="text-center">Editar Proveedor</h3>
<form method="post" asp-action="Edit">
    <div class="row px-2 offset-1 Border">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" placeholder="Ingresa el Nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Direccion"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Direccion" class="form-control" placeholder="Ingresa la Dirección" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Telefono"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Telefono" class="form-control" placeholder="Ingresa el Teléfono" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">
                        <i class="fa-solid fa-plus"></i>Editar
                    </button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">
                        <i class="fa-solid fa-arrow-left"></i>Volver atrás
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
